.resume_right {
    /* width: 70%; */
    background-color: rgb(218, 183, 119);
    /* margin-l
    
    eft: 29.5%; */
}

.head1 h1 {
    padding: 7px;
    padding-top: 15px;
    font-size: 50px;
    /* text-decoration: underline overline;
    text-decoration-thickness: 1px; */
}

.head2 h1 {
    padding: 7px;
    padding-top: 15px;
    font-size: 50px;
    color: black;
}

.para {
    padding-left: 8px;
    font-size: 17px;
}

.com1 {
    padding: 7px;
}

.year {
    padding-left: 15px;
    font-size: 12px;
}

.title {
    padding-left: 15px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.box {
    padding-left: 20px;
}

.wpara {
    padding: 5px 9px;
    font-size: 13px;
    font-family: 'Kaisei Tokumin', serif;
}

.box1 {
    padding-left: 20px;
}
